

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.dark-2{

    color: #474747;
}

.btn-Primary{

    background-color: #0D1321;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}

.header{

    background-image: url('../assets/Hero-bg.png');
}


nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{

    font-weight: 800;
    font-size: 28px;
}

nav ul{

    display: flex;
}

nav ul li{

    list-style: none;
}

nav li a{

    text-decoration: none;
   font-size: 20px;
}

.banner-img{

    width: 240.28px;
    height: 240px;

    margin: 0px 800px 800px;

  
    

  
  
}

.banner-content{

    text-align: center;
    margin: 272px 97px 221px 221px;
}




.banner-title{

    font-size: 48px;
    font-weight: bold;
}

.banner-description{

    font-size: 16px;
    font-weight: normal;
}

.web-greetings{

    text-align: center;
}

.web-description{

    text-align: center;
}

.web{

    display: flex;
    justify-content: space-between;
    margin:0 35px 0 200px ;
}

.btn-secondary{

    background-color: #0D1321;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;


}

.web-content{

    max-width: 580px;

}

.btn-secondary2{

    background-color: #0D1321;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;


}


.web2{

    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
    

}

.video{

   
    margin: 0 300px 300px 600px;
}